.featured {
  width: 510px;
  height: auto;
  cursor: pointer;
}

.featured .img {
  width: 100%;
  height: 270px;
  position: relative;
}

.featured .deets {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  border-left: 0.5px solid #ccc;
  padding: 15px 20px;
}

.featured .deets>div {
  margin: 5px 0;
}

.featured .deets p {
  line-height: 2.2;
}

.featured .deets button {
  background-color: transparent;
  outline: none;
  border: none;
  color: gray;
}

.featured .deets button:hover {
  color: #0c4949;
}

.featured .deets button:disabled {
  pointer-events: none;
}

@media screen and (max-width:768px) {
  .featured {
    width: 430px;
  }
}

@media screen and (max-width:480px) {
  .featured {
    max-width: 100%;
    width: 298px;
  }

  .featured .img {
    height: 220px;
  }
}